section {
    border: 2px solid black;
    box-shadow: 0 5px 10px 0 rgb(142, 138, 138), 0 5px 10px 0 rgb(165, 159, 159);
    width: 85%;
    height: 85%;
    position: absolute;
    top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    overflow-y: auto;
}

#image {
    position: sticky;
    float: right;
    top: 0%;
    width: 50%;
    height: 100%;
    margin: 0%;    
  }

#image img{
    height: 100%;
    width: 100%;
}

#form_details {
    padding: 2.5%;
    height: auto;
}

#form_details h2 {
    margin-right: 50%;
}

#form_details input {    
    display: inline-block;
    border: 1px solid #ffffff;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
    border-bottom: solid black 1px;
}

.user-details input{
    width: 20%;
}

#buttons {
    margin-top: 30px;
    position: absolute;
    bottom: 3%;
    left: 35%;
  }

  #buttons button {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(186, 96, 241);
    border-radius: 3px;
    font-size: 15px;
    
  }
  
